name: Build

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # dependencies
      - name: goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
          version: latest

      - name: goreleaser info
        run: goreleaser -v

      - name: task
        uses: arduino/setup-task@v2

      - name: task info
        run: task --version

      - name: qemu
        uses: docker/setup-qemu-action@v3

      - name: buildx
        uses: docker/setup-buildx-action@v3

      # checkout
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # setup go
      - name: go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: go info
        run: |
          go version
          go env

      # cache
      - name: cache-go
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-mod

      - name: cache-task
        uses: actions/cache@v4
        with:
          path: .task/**/*
          key: ${{ runner.os }}-go-task

      # vendor
      - name: vendor
        run: |
          task vendor

      # lint
      - name: lint
        run: task lint

      # test
      - name: tests
        run: |
          task test

      # git status
      - name: git status
        run: git status

      # build
      - name: build
        if: startsWith(github.ref, 'refs/tags/') == false
        run: |
          task snapshot

      # publish
      - name: publish
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          task publish

      # artifacts
      - name: artifact_linux
        uses: actions/upload-artifact@v4
        with:
          name: build_linux
          path: dist/*linux*

      # docker login
      - name: docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # docker build (latest & tag)
      - name: release tag
        if: startsWith(github.ref, 'refs/tags/') == true
        uses: little-core-labs/get-git-tag@v3.0.2
        id: releasetag
        with:
          tagRegex: "v?(.+)"

      - name: docker - build release
        if: startsWith(github.ref, 'refs/tags/') == true
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: linux/amd64
          pull: true
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/darthshadow/autoscan:${{ steps.releasetag.outputs.tag }}
            ghcr.io/darthshadow/autoscan:latest

      # docker build (branch)
      - name: branch name
        if: startsWith(github.ref, 'refs/tags/') == false
        id: branch-name
        uses: tj-actions/branch-names@v9

      - name: docker tag
        if: startsWith(github.ref, 'refs/tags/') == false
        uses: frabert/replace-string-action@v2
        id: dockertag
        with:
          pattern: '[:\.\/]+'
          string: "${{ steps.branch-name.outputs.current_branch }}"
          replace-with: '-'
          flags: 'g'

      - name: docker - build branch
        if: startsWith(github.ref, 'refs/tags/') == false
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: linux/amd64
          pull: true
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/darthshadow/autoscan:${{ steps.dockertag.outputs.replaced }}
